<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="{{desc}}">
	<link rel="stylesheet" href="{{ bust '/css/style.css' }}">
	<title>{{title}}</title>
</head>
<body>

<main>

	{{{body}}}

	{{>footer}}

</main>

<audio id="player" controls>
	Your browser does not support the
	<code>audio</code> element.
</audio>

<dialog id="definition">
	<button id="close" aria-label="Close" title="Close">
		<svg fill="none" stroke="var(--fg)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>

	<div class="body">
		<span class="title"></span>
		<p class="definition"></p>
	</div>
</dialog>

{{>info}}


<script src="{{ bust '/js/voice.js' }}" async></script>
<script src="{{ bust '/js/definitions.js' }}" async></script>
<script src="{{ bust '/js/search.js' }}" async></script>
</body>
</html>
