<tr id='{{normalize this.word}}' class='{{this.type}}' data-word='{{this.word}}' data-type='{{this.type}}'>
	<td class='cat'>{{this.type}}</td>
	<td class='word'>{{this.word}}</td>
	<td class='sound'>{{this.sound}}</td>
	<td class='buttons'>
		<button class='button link' data-id='{{normalize this.word}}' aria-label='Copy link to {{this.word}}' title='Copy link to {{this.word}}'>
			<svg width='24' height='24'>
				<use href='#svg-link' />
			</svg>

		</button>
		<button
			class='button definition'
			data-definition='{{~md this.definition~}}'
			data-word='{{this.word}}'
			aria-label='Show definition of {{this.word}}'
			title='Show definition of {{this.word}}'
		>
			<svg width='24' height='24'>
				<use href='#svg-definition' />
			</svg>
		</button>
		{{#unless this.no-sound}}
			<button
				class='button voice'
				data-voice='{{normalize this.word}}'
				aria-label='Play pronunciation of {{this.word}}'
				title='Play pronunciation of {{this.word}}'
			>
				<svg width='24' height='24'>
					<use href='#svg-voice' />
				</svg>
			</button>
		{{/unless}}
	</td>
</tr>